<h3>{{ getTranslation("quality") }}</h3>
<div class="button-div">
  <button
    nz-button
    (click)="selectedQuality = 'quality5'"
    [nzType]="selectedQuality === 'quality5' ? 'primary' : 'default'"
  >
    {{ getTranslation("quality5") }}
  </button>
  <button
    nz-button
    (click)="selectedQuality = 'quality4'"
    [nzType]="selectedQuality === 'quality4' ? 'primary' : 'default'"
  >
    {{ getTranslation("quality4") }}
  </button>
  <button
    nz-button
    (click)="selectedQuality = 'quality3'"
    [nzType]="selectedQuality === 'quality3' ? 'primary' : 'default'"
  >
    {{ getTranslation("quality3") }}
  </button>
  <button
    nz-button
    (click)="selectedQuality = 'quality2'"
    [nzType]="selectedQuality === 'quality2' ? 'primary' : 'default'"
  >
    {{ getTranslation("quality2") }}
  </button>
  <button
    nz-button
    (click)="selectedQuality = 'quality1'"
    [nzType]="selectedQuality === 'quality1' ? 'primary' : 'default'"
  >
    {{ getTranslation("quality1") }}
  </button>
</div>

<h3>{{ getTranslation("usefulness") }}</h3>
<div class="button-div">
  <button
    nz-button
    (click)="selectedUsefulness = 'usefulness5'"
    [nzType]="selectedUsefulness === 'usefulness5' ? 'primary' : 'default'"
  >
    {{ getTranslation("usefulness5") }}
  </button>
  <button
    nz-button
    (click)="selectedUsefulness = 'usefulness4'"
    [nzType]="selectedUsefulness === 'usefulness4' ? 'primary' : 'default'"
  >
    {{ getTranslation("usefulness4") }}
  </button>
  <button
    nz-button
    (click)="selectedUsefulness = 'usefulness3'"
    [nzType]="selectedUsefulness === 'usefulness3' ? 'primary' : 'default'"
  >
    {{ getTranslation("usefulness3") }}
  </button>
  <button
    nz-button
    (click)="selectedUsefulness = 'usefulness2'"
    [nzType]="selectedUsefulness === 'usefulness2' ? 'primary' : 'default'"
  >
    {{ getTranslation("usefulness2") }}
  </button>
  <button
    nz-button
    (click)="selectedUsefulness = 'usefulness1'"
    [nzType]="selectedUsefulness === 'usefulness1' ? 'primary' : 'default'"
  >
    {{ getTranslation("usefulness1") }}
  </button>
</div>

<h3>{{ getTranslation("affordability") }}</h3>
<div class="button-div">
  <button
    nz-button
    (click)="selectedAffordability = 'affordable5'"
    [nzType]="selectedAffordability === 'affordable5' ? 'primary' : 'default'"
  >
    {{ getTranslation("affordable5") }}
  </button>
  <button
    nz-button
    (click)="selectedAffordability = 'affordable4'"
    [nzType]="selectedAffordability === 'affordable4' ? 'primary' : 'default'"
  >
    {{ getTranslation("affordable4") }}
  </button>
  <button
    nz-button
    (click)="selectedAffordability = 'affordable3'"
    [nzType]="selectedAffordability === 'affordable3' ? 'primary' : 'default'"
  >
    {{ getTranslation("affordable3") }}
  </button>
  <button
    nz-button
    (click)="selectedAffordability = 'affordable2'"
    [nzType]="selectedAffordability === 'affordable2' ? 'primary' : 'default'"
  >
    {{ getTranslation("affordable2") }}
  </button>
  <button
    nz-button
    (click)="selectedAffordability = 'affordable1'"
    [nzType]="selectedAffordability === 'affordable1' ? 'primary' : 'default'"
  >
    {{ getTranslation("affordable1") }}
  </button>
</div>

<h3>{{ getTranslation("availability") }}</h3>
<div class="button-div">
  <button
    nz-button
    (click)="selectedAvailability = 'availability5'"
    [nzType]="selectedAvailability === 'availability5' ? 'primary' : 'default'"
  >
    {{ getTranslation("availability5") }}
  </button>
  <button
    nz-button
    (click)="selectedAvailability = 'availability4'"
    [nzType]="selectedAvailability === 'availability4' ? 'primary' : 'default'"
  >
    {{ getTranslation("availability4") }}
  </button>
  <button
    nz-button
    (click)="selectedAvailability = 'availability3'"
    [nzType]="selectedAvailability === 'availability3' ? 'primary' : 'default'"
  >
    {{ getTranslation("availability3") }}
  </button>
  <button
    nz-button
    (click)="selectedAvailability = 'availability2'"
    [nzType]="selectedAvailability === 'availability2' ? 'primary' : 'default'"
  >
    {{ getTranslation("availability2") }}
  </button>
  <button
    nz-button
    (click)="selectedAvailability = 'availability1'"
    [nzType]="selectedAvailability === 'availability1' ? 'primary' : 'default'"
  >
    {{ getTranslation("availability1") }}
  </button>
</div>

<h3>{{ getTranslation("urgency") }}</h3>
<div class="button-div">
  <button
    nz-button
    (click)="selectedUrgency = 'urgency5'"
    [nzType]="selectedUrgency === 'urgency5' ? 'primary' : 'default'"
  >
    {{ getTranslation("urgency5") }}
  </button>
  <button
    nz-button
    (click)="selectedUrgency = 'urgency4'"
    [nzType]="selectedUrgency === 'urgency4' ? 'primary' : 'default'"
  >
    {{ getTranslation("urgency4") }}
  </button>
  <button
    nz-button
    (click)="selectedUrgency = 'urgency3'"
    [nzType]="selectedUrgency === 'urgency3' ? 'primary' : 'default'"
  >
    {{ getTranslation("urgency3") }}
  </button>
  <button
    nz-button
    (click)="selectedUrgency = 'urgency2'"
    [nzType]="selectedUrgency === 'urgency2' ? 'primary' : 'default'"
  >
    {{ getTranslation("urgency2") }}
  </button>
  <button
    nz-button
    (click)="selectedUrgency = 'urgency1'"
    [nzType]="selectedUrgency === 'urgency1' ? 'primary' : 'default'"
  >
    {{ getTranslation("urgency1") }}
  </button>
</div>

<h3>{{ getTranslation("longTerm") }}</h3>
<div class="button-div">
  <button
    nz-button
    (click)="selectedLongTerm = 'longTerm5'"
    [nzType]="selectedLongTerm === 'longTerm5' ? 'primary' : 'default'"
  >
    {{ getTranslation("longTerm5") }}
  </button>
  <button
    nz-button
    (click)="selectedLongTerm = 'longTerm4'"
    [nzType]="selectedLongTerm === 'longTerm4' ? 'primary' : 'default'"
  >
    {{ getTranslation("longTerm4") }}
  </button>
  <button
    nz-button
    (click)="selectedLongTerm = 'longTerm3'"
    [nzType]="selectedLongTerm === 'longTerm3' ? 'primary' : 'default'"
  >
    {{ getTranslation("longTerm3") }}
  </button>
  <button
    nz-button
    (click)="selectedLongTerm = 'longTerm2'"
    [nzType]="selectedLongTerm === 'longTerm2' ? 'primary' : 'default'"
  >
    {{ getTranslation("longTerm2") }}
  </button>
  <button
    nz-button
    (click)="selectedLongTerm = 'longTerm1'"
    [nzType]="selectedLongTerm === 'longTerm1' ? 'primary' : 'default'"
  >
    {{ getTranslation("longTerm1") }}
  </button>
</div>

<h3>{{ getTranslation("regret") }}</h3>
<div class="button-div">
  <button
    nz-button
    (click)="selectedRegret = 'regret5'"
    [nzType]="selectedRegret === 'regret5' ? 'primary' : 'default'"
  >
    {{ getTranslation("regret5") }}
  </button>
  <button
    nz-button
    (click)="selectedRegret = 'regret4'"
    [nzType]="selectedRegret === 'regret4' ? 'primary' : 'default'"
  >
    {{ getTranslation("regret4") }}
  </button>
  <button
    nz-button
    (click)="selectedRegret = 'regret3'"
    [nzType]="selectedRegret === 'regret3' ? 'primary' : 'default'"
  >
    {{ getTranslation("regret3") }}
  </button>
  <button
    nz-button
    (click)="selectedRegret = 'regret2'"
    [nzType]="selectedRegret === 'regret2' ? 'primary' : 'default'"
  >
    {{ getTranslation("regret2") }}
  </button>
  <button
    nz-button
    (click)="selectedRegret = 'regret1'"
    [nzType]="selectedRegret === 'regret1' ? 'primary' : 'default'"
  >
    {{ getTranslation("regret1") }}
  </button>
</div>

<div class="button-div">
  <button
    nz-button
    nzShape="round"
    nzType="primary"
    nzDanger
    (click)="onEvaluate()"
    [disabled]="!isAllSelected()"
  >
    {{ getTranslation("evaluationButton") }}
  </button>
</div>

<nz-modal
  [nzTitle]="'💸 ' + getTranslation('headerTitle') + ' 💸'"
  [nzStyle]="{ top: '20px' }"
  [nzContent]="modalContent"
  [nzFooter]="modalFooter"
  [(nzVisible)]="isModalVisible"
  (nzOnCancel)="handleClose()"
>
  <ng-template #modalContent>
    @if (modalScore !== null) {
    <div>
      <h2 class="text-lg mb-6">
        @if (modalScore >= 4.0) {
        <span class="text-green-600 font-semibold"
          >🤑 {{ getTranslation("strongBuy") }}</span
        >
        } @else if (modalScore >= 3.0) {
        <span class="text-blue-600 font-semibold"
          >🤔 {{ getTranslation("consider") }}</span
        >
        } @else if (modalScore>= 2.0) {
        <span class="text-orange-600 font-semibold"
          >🧐 {{ getTranslation("thinkTwice") }}</span
        >
        } @else {
        <span class="text-red-600 font-semibold"
          >🥲 {{ getTranslation("risky") }}</span
        >
        }
      </h2>
    </div>
    }
    <!-- details -->
    <div>
      <nz-divider
        class="thick-divider"
        nzOrientation="center"
        nzVariant="solid"
        [nzText]="getTranslation('quality')"
      ></nz-divider>
      <span>{{ getResultDesc("quality", getScore(selectedQuality)) }}</span>

      <nz-divider
        [nzText]="getTranslation('affordability')"
        nzOrientation="center"
        nzVariant="solid"
      ></nz-divider>
      <span>{{
        getResultDesc("affordability", getScore(selectedAffordability))
      }}</span>

      <nz-divider
        [nzText]="getTranslation('availability')"
        nzOrientation="center"
        nzVariant="solid"
      ></nz-divider>
      <span>{{
        getResultDesc("availability", getScore(selectedAvailability))
      }}</span>

      <nz-divider
        [nzText]="getTranslation('urgency')"
        nzOrientation="center"
        nzVariant="solid"
      ></nz-divider>
      <span>{{ getResultDesc("urgency", getScore(selectedUrgency)) }}</span>

      <nz-divider
        [nzText]="getTranslation('longTerm')"
        nzOrientation="center"
        nzVariant="solid"
      ></nz-divider>
      <span>{{ getResultDesc("longTerm", getScore(selectedLongTerm)) }}</span>

      <nz-divider
        [nzText]="getTranslation('regret')"
        nzOrientation="center"
        nzVariant="solid"
      ></nz-divider>
      <span>{{ getResultDesc("regret", getScore(selectedRegret)) }}</span>
    </div>
  </ng-template>
  <ng-template #modalFooter>
    <button nz-button nzType="primary" (click)="handleClose()">
      {{ getTranslation("okUnderstood") }}
    </button>
  </ng-template>
</nz-modal>
